<div class="root">
    <div class="main">
        <div class="container">
            <div id="grid">
                <div class="row" *ngFor="let row of grid; index as i">
                  <div 
                    class="circle" 
                    *ngFor="let col of grid[i]; index as j"
                    [ngClass]="{
                      'red': redIndex.i == i && redIndex.j == j || greenIndex.i == i && greenIndex.j == j
                    }">
                  </div>
                </div>
            </div>
        </div>

        <div id="controller">
            <div class="trigger">
              <h2>0</h2>
            </div>
        </div>
    </div>
</div>



