.root {
  height: 100vh;
  background: linear-gradient(75deg, rgb(214, 180, 247), rgb(173, 203, 231));

  .main {
    display:flex; 
    flex-direction: column; 
    height:100%; 
    align-items: center;
  }

  .top-bar {
    display: flex;
    width: 100%;
    height: 68px;
    background: linear-gradient(75deg, rgb(159, 104, 235), #00cc86);

    // Horizontally and vertically center the text
    justify-content: center;
    align-items: center;

    h1 {
        font-family: 'Lato';
        font-size: 18px;
        letter-spacing: 1px;
        font-weight: 900;
        text-transform: uppercase;
        color: whitesmoke;
    }
}

}
.container {
    max-width: 400px;
    width: 100%;
    margin: 5vh auto 0;
    position: relative;
  }
  
  #grid {
    height: 100%;
    width: 100%;
  
    .row {
      width: 100%;
      height: 9.09%;
  
      .circle {
        display: inline-block;
        vertical-align: middle;
        margin: .5%;
        width: 8.09%;
        padding-bottom: 8.09%;
        background-color: #333;
        border-radius: 50%;

        transition: background-color 20ms ease-in;

        &.red {
          background-color: lighten(red, 12%);
        }

        &.green {
          background-color: lighten(green, 12%);
        }

        &.blue {
          background-color: lighten(blue, 12%);
        }

        &.gold {
          background-color: lighten(gold, 12%);
        }

        &.hit {
          transform: scale(.5);
          transition: transform .5s ease-in;

        }

        &.bullet {
          background-color: lighten(whitesmoke, 12%);
          transform: scale(1);
        }

        &.shooter {
          margin: .5% 46%;
          background-color: rebeccapurple;
        }
      }
    }
}

#controller {
    display: flex;
    margin: 0 auto;
    height: 100%;
    flex-grow: 1; 
    display:flex; 
    flex-direction: column; 
    justify-content: center;

    .trigger {
        display: flex;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: #333;
        flex-direction: column; 
        justify-content: center;
        cursor: pointer;
        margin-top: 0;

        ::selection { background: transparent; }

        h2{
          text-align: center;
          color: white;
          font-size: 72px;
        }

        &:hover {
          background-color: lighten(#333, 10%);
        }

        &.disabled {
          opacity: .3;
          cursor: not-allowed;

          &:hover {
            background-color: #333;
          }
        }

        
    }
}